
#header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
    color: white;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0px 7px 8px;
  flex: none;
  align-items: left;
  justify-content: left;
 
}


.about {
  margin: 0% 10% 0% 0% ;
  display: flex;
  flex: 2;
  justify-content: right;
}

h1 {margin-left: 10%;
  text-align: center;
  margin: auto;
}

.flex {
  display: flex; 
  height: 900px;
}

.bcred {
  background-color: rgb(129, 126, 116);
  flex: 2;
}
.bcblue {
  background-color: rgb(228, 209, 209);
  flex: 2; 
}
