@mixin arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

@mixin pages {
  display: flex;
  min-height: 87.7vh;

  .aboutPages {
    background-color: #ff9840;
  }

  .skillsPages {
    background-color: #e96117;
  }

  .contactsPages {
    background-color: #ecc260;
  }

  h1 {
    text-align: center;
  }
}

@mixin contact {
  height: 20%;
  width: 90%;
  margin: 9% auto;
  text-align: center;
  justify-content: center;
  background-color: #21211a;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

@mixin list {
  text-align: center;
  justify-content: center;
  background-color: #21211a;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
}

header {
  background-color: #21211a;
  min-height: 100%;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  color: white;

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px 7px 8px;
    flex: none;
    align-items: left;
    justify-content: left;
  }

  .about {
    margin: 0% 10% 0% 0%;
    display: flex;
    flex: 2;
    justify-content: right;
  }

  #Night,
  #Day {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    display: relative;
    cursor: pointer;
  }

  h1 {
    margin-left: 10%;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
  }

  .Teleport {
    cursor: pointer;
  }
}

.carousel {
  align-items: center;
  justify-content: center;
  user-select: none;

  .mainWindow {
    overflow: hidden;

    .arrow-left {
      @include arrow;
      left: 0.6%;
    }

    .arrow-right {
      @include arrow;
      right: 1%;
    }

    .allPages {
      @include pages;
    }

    .allPagesAnimation {
      @include pages;
      transition: translate;
      transition-property: transform;
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
      transition-delay: 0.1s;
    }
  }
}

.contactsPages {
  display: flex;

  .contactGroupOne {
    min-width: 50%;

    .contactGitHub {
      @include contact;
    }

    .contactSkype {
      @include contact;
    }

    .contactHh {
      @include contact;
    }
  }

  .contactGroupTwo {
    min-width: 50%;

    border-radius: 100px 0px 0px 100px;

    .contactMail {
      @include contact;
    }

    .contactLinkedIn {
      @include contact;
    }

    .contactTg {
      @include contact;
    }
  }

  .contactLogo {
    background-color: white;
    border-radius: 1em 0 0 1em;
    width: 4em;
    position: left;
    justify-content: middle;
    vertical-align: middle;
    padding: auto;
  }
}

.skillsPages {
  display: flex;

  .proffesionalSkills {
    min-width: 50%;

    .listPSkills {
      @include list;
      height: 92%;
      width: 95%;
      margin: 3% 1.5% 3% 3%;
      flex-direction: column;

      .skillsField {
        margin: 0%;
        background-color: #e8f0f0;
        width: 100%;
        height: 87%;
        border-radius: 0 0 1em 1em;
      }
    }
  }

  .moreSkills {
    min-width: 50%;
    display: flex;
    flex-direction: column;

    .listMSkills {
      height: 92%;
      width: 95%;
      margin: 3% 3% 3% 1.5%;
      background-color: transparent;

      .oneColumn {
        @include list;
        height: 57%;
        margin-bottom: 3%;
        flex-direction: column;
      }
      .twoColumn {
        @include list;
        height: 40%;
        flex-direction: column;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.Flex {
  display: flex;
  min-width: 100%;
}

h1,
h2 {
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
}

.logoIcon {
  height: 100%;
  width: 80%;
}

.skillIcon {
  height: 7em;
  width: 7em;
  margin: 2.5em 1.5em;
}
